

body {
    background-color: #11d9e0;

color: rgb(55, 0, 255);}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #11d9e0;
}
.card:hover {
    transform: translateY(-5px);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
    background-color: #11d9e0;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.95rem;
    color: #6c757d;
}
.card-price {
    font-size: 1.1rem;
    color: #343a40;
}